[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pacviz"]
	path = pacviz
	url = https://github.com/pharaohcola13/pacviz
	shallow = true
	registered = true
